{% extends 'base_template.html' %}
{% load static %}

{% block content %}
<h1 class="my-4">{{ smart.project_name }}</h1>
<div class="container">
    <div class="row">
    {% comment %} <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"> {% endcomment %}
        <div class="col-8">
            <div class="container">

                <div class="row m-2">
                    <span class="col-12">tags: </span>
                    <div class="row m-2">
                        {% for tag in smart.tag.all %}
                            <span class="col-1 mr-2 rand-colored"> {{ tag.tag_name }} </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row m-2">
                    SIMILIAR SOFT: 
                    <span class="col-12 mr-5">{{ smart.similiar_software }}</span>
                </div>
                <div class="row m-2">
                    Usage field:
                    <div class="row m-2">
                    {% for field in smart.application_field.all %}
                        <span class="col-1 rand-colored"> {{ field.field_name }} </span>
                    {% endfor %}
                </div>
            </div>
                <div class="row m-2"> 
                    How it works:
                        <span class="col-12 mr-5">{{ smart.how_it_works }}</span>
                </div>
                <div class="row m-2">Details: 
                    {{ smart.details }}
                </div>
                
                <div class="row m-2">Userbase:
                    {{ smart.userbase }}
                </div>
                <div class="row m-2">Price range:
                    {{ smart.price_range.price_start.amount }} {{ smart.price_range.price_start.currency }} - {{ smart.price_range.price_end.amount }} {{ smart.price_range.price_end.currency }}
                    <span> Updated on: {{ smart.price_range.updated }} </span>
                </div>
                <div class="row m-2">
                    DESCRIPTION:
                    {{ smart.description }}
                </div>
            </div>
        </div>
        <div class="container col-4 border rounded">
            <div class="row m-2 mt-2">

                created by: 
                {% for author in smart.created_by.all %}
                        <span> {{ author.username }} </span>
                    {% endfor %}
                {% comment %} {{ smart.created_by.username }} {% endcomment %}
            </div>
            {% if smart.delete_order_date %}
            <div class="row m-2 container">
                <div class="row mb-2">
                    delete date: {{ smart.delete_order_date }}
                </div>
                <div class="row mb-2">
                    marked for deletion_by: {{ smart.marked_for_del_by }}
                </div>
            </div>
            {% endif %}
            <div class="row m-2 container">
                <div class="row mb-2">
                    You can vote to work on this project.
                </div>
                <div class="row mb-2">
                    <a href="{% url 'vote-smart' smart.slug %}">
                        <button class="btn btn-success">Vote</button>
                    </a>
                    {% for team in team_votes %}
                        Your team ({{ team.corpo_team.team_name }}) votes: {{ team.counter }}
                    {% endfor %}
                    
                </div>
                {% if user.groups.all.0.name == "manager" or user.is_superuser %}
                {% for team in all_votes %}
                <div class="mb-3">
                        <div>Team ({{ team.corpo_team.team_name }}) votes: {{ team.counter }}</div>
                        <a href=""><button class="btn btn-primary">Assign project to a team</button></a>
                </div>
                {% endfor %}
                {% endif %}
                {% comment %} <div class="row mb-2">
                    To this point $ of your team members voted on that project
                </div> {% endcomment %}
            </div>
        </div>
    </div>
        {% comment %} <p class="mb-1">item would be here: </p>
        <small class="text-muted">button to vote for proj</small> {% endcomment %}
    {% comment %} </a> {% endcomment %}
    {% comment %} {% empty %} {% endcomment %}
    <p>No items found.</p>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/projekt/random_colors.js' %}"></script>
{% endblock script %}

